@font-face {
    font-family: 'Futura PT';
    src: url(AnyConv.com__FuturaPT-Light.woff2),
    url(FuturaPT-Light.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forum';
    src: url(Forum.woff2),
    url(Forum.woff);
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url(../css/images/Segoe\ UI.ttf);
    font-style: normal;
    font-display: swap;
}
.moon-river{
    padding: 60px 460px 340px 160px;
}
.title{
    padding: 0px 136px 30px 77px;
}
.view{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text{
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.language{
    padding: 300px 665px 80px 160px;
}
.ru{
    padding-right: 5px;
}
.line-3{
    padding-left: 291px;
    padding-right: 38px;
    padding-top: -20px;
}

.sidebar{
 
width: 562px;
left: 878px;
top: 0px;
border-radius: 0px;
background-color: #272727;

}
.nav{
    height: 100px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.favorite{
    padding: 50px 10px 781px 80px;
}
.account{
    padding: 50px 10px 781px 0px;
}
.cart{
    padding-top: 50px;
    padding-left: -20px;
    padding-right: -120px;
}
.count{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: -50px;
    padding-bottom: 930px;
}
.burger{
    padding: 50px 162px 937px 20px;
}
.ring{
    position: absolute;
    height: 170px;
    width: 322px;
    left: 731px;
    top: 427px;
    border-radius: 0px;

}
.home-page{
    width: 1420px;
    height: 1024px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.main{
    width: 878px;
}
li{
    list-style-type: none;
    }

.social-media{
    height: 886px;
    width: 1420px;
    left: 0px;
    top: 3115px;
    border-radius: 0px;
    background: #272727;
}

.header-social-media{
    width: 518px;
    height: 106px;
    left: 162px;
    top: 3215px;
    padding: 5px 760px 150px 162px;
}
h1{
    font-family: 'Forum', cursive ;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;


}


.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 80px 1243px 100px 162px;

}
.facebook{
    padding-right: 20px;
}
.arrows{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: -130px;
    padding-bottom: 114px;
}
.description-price{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ring-title{
    padding-top: 775px;
    padding-bottom: 9px;
    font-family: 'Futura PT';
    font-size: 16px;
    font-weight: 198px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #FFFFFF;
}
.metal{
    font-family: 'Futura PT';
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color: #C2C2C2; 
    

}
.price{
    padding: 9px 162px 60px 280px;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #EFC58B;
    ;

}
.left-arrows{
    margin-left: 705px;
    padding-right: 50px;

}
.right-arrows{
    margin-right: 162px;
    padding-left: 50px;
    
}
.catalog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 1420px;
    height: 587px;
    margin-bottom: 20px;

}
.men-section{
    background-image: url(../css/images/1-.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 587px;
    width: 710px;
    margin-right: 20px;
 

}
.women-section{
    background-image: url(../css/images/louis-vuitton-Q95641_PM1_Worn\ view.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 587px;
    width: 710px;
}
.header-women .header-men{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 354px;
    height: 71px;
    left: 750px;
    top: 200px;
   
}
.click-1{
    display: flex;
    align-items: center;
    text-align: right;
    position: absolute;
    width: 354px;
    height: 71px;
    left: 30px;
    top: 170px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.click-2{
    display: flex;
    align-items: center;
    text-align: right;
    position: absolute;
    width: 354px;
    height: 71px;
    left: 700px;
    top: 170px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
h3{
    
    padding-left: 269px;
    
}
.for-women{
    
    padding-left: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    position: absolute;
    width: 433px;
    height: 71px;
    left: 660px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    color: #FFFFFF;
}
.line{
   padding-left: 293px;
}
.for-men{
    position: absolute;
    width: 433px;
    height: 71px;
    left: 0px;
    top: 200px;
    padding-left: 210px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    color: white;
}
.line-1{
    position: absolute;
    width: 120px;
    height: 0.5px;
    left: 330px;
    top: 335px;
    border: 1px solid #FFFFFF;

}
.line-2{
    position: absolute;
    width: 120px;
    height: 0.5px;
    left: 1000px;
    top: 335px;
    border: 1px solid #FFFFFF;
    }









.pic6512{
    display:grid;
    grid-template-areas: "pic1 pic3 pic4"
                          "pic2 pic3 pic5";
   width: 1420px;
   margin-top: 20px;
   margin-bottom: 20px;
  
  }
  
  .pic111{
      grid-area:pic1;
      background-color:#EDEDED;
      width: 400px;
      height: 400px;
      left: 0px;
      top: 2275px;
      margin-right: 20px;
      display: grid;
      justify-content: center;
      margin-bottom: 20px;
  
  }
  .pic11{
      width: 260px;
      height: 180px;
      left: 70px;
      top: 2322px;
      padding: 47px;
  
  }
  .pic122{
      grid-area:pic2;
      background-color:#EDEDED;
      width: 400px;
      height: 400px;
      left: 0px;
      top: 2695px;
      margin-right: 20px;
      display: grid;
      justify-content: center;
  
  }
  .pic12{
      width: 260px;
      height: 167px;
      left: 70px;
      top: 2755px;
      padding: 60px
  }
  
  .pic133{
      grid-area:pic3;
      background-color:#EDEDED;
      background-image: url(/assets/css/images/3.3.png);
      background-size: 100%;
      width: 623px;
      height: 820px;
      display: flex;
      flex-direction: column;
      justify-content: end;
  
  }
  .pic133>p{
      margin: 30px;  
  }
  
  .pic144{
      grid-area:pic4;
      background-color:#EDEDED;
      width: 400px;
      height: 400px;
      left: 1040px;
      margin-left: 20px;
      display: grid;
      justify-content: center;
      margin-bottom: 20px;
  }
  .pic14{
      width: 320px;
      height: 200px;
      left: 1080px;
      justify-self:center;
  }
  
  .pic155{
      grid-area:pic5;
      background-color:#EDEDED;
      width: 400px;
      height: 400px;
      margin-left: 20px;
      display: grid;
      justify-content: center;
  
     }
     .pic15{ 
      width: 250px;
      height: 250px;
      left: 1083px;
      top: 2686px;
  }
  
  
  .price1{
      font-family: Segoe UI;
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      line-height: 5px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #EFC58B;
      }
  
  .about{
      font-family: Futura PT;
      font-size: 18px;
      font-weight: 300;
      line-height: 5px;
      letter-spacing: 0em;
      color: #C2C2C2; 
  }
  .name{
  
      font-family: Futura PT;
      font-size: 16px;
      font-weight: 198px;
      line-height: 5px;
      letter-spacing: 0.05em;
      color: #272727;;
  }
  
  .footer{
      background-color:#272727 ;
      width: 1420px;
      height: 400px;
      /* display: flex; */
  
  }
  .link1{
      display: flex;
      justify-content: space-around;
      padding-top: 80px;
  }
  .link11{
      color: #EDEDED;
      text-decoration: none;
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
  }
  
  .link2>a{
      text-decoration: none;
      color:#C2C2C2 ;
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
  
      position: absolute;
      width: 121px;
      height: 23px;
      left: 734px;
      top: 4862px;
  }
  .phone3{
      position: absolute;
  width: 184px;
  height: 18px;
  left: 734px;
  top: 4810px;
  
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  }
  .logo1{
    width: 257.04px;
    height: 28.35px;
    left: 0.86px;
    top: 10.33px;
    padding-top: 130px;
    padding-left: 130px;
  }
.facebook20{
    position: absolute;
    width: 8.88px;
    height: 19.04px;
    left: 747.42px;
    top: 4908.75px;
}
.instagram20{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 799px;
    top: 4910px;
}
.follow1{
    position: absolute;
width: 204px;
height: 18px;
left: 998px;
top: 4810px;

font-family: 'Futura PT';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;


display: flex;
align-items: center;
white-space: nowrap;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
}
.email1{
    position: absolute;
width: 103px;
height: 23px;
left: 998px;
top: 4850px;

font-family: 'Futura PT';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;

display: flex;
align-items: center;

color: #C2C2C2;
}
.line11{
    position: absolute;
width: 280px;
height: 0px;
left: 998px;
top: 4905px;

}
.lin12{
    position: absolute;
    width: 28px;
    height: 15px;
    left: 1250px;
    top: 4880px;
}
.apple-store-badge{

width: 88.51px;
height: 28.49px;
left: 0.65px;
top: 0.65px;
}